*{
    font-family: Arial;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
    color:white;
}

/*navigation bar start*/
#navigation-wrapper{background-color:black;}
#navigation-content{
    max-width:1200px;
    padding:20px;
    margin:0px auto;
    height:100px;
    display: flex;
    align-items: center;
}
a{color:white;font-size:15pt}
#logo-wrapper{
    display: flex;
    flex:1;
}
#nav-list-items-wrapper , .nav-item{
    float:left;
    margin-right:20px;
}
.logo{height:180px;}
/*navigation bar ended*/

/*hero section start*/
#hero-section-wrapper{
    height:70vh;
    background:url("../images/4.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
#hero-section-mask{
    height:70vh;
    background-color:rgb(14 6 6 / 90%);
    background-size:100% 100%;
    display: flex;
    align-items: center;
}
#hero-section-content{
    max-width:1200px;
    padding:50px 20px 50px 20px;
    margin:0px auto;
    background-size:100% 100%;
}

#hero-section-subcaption{color:lightgrey}
#hero-section-btn-wrapper{margin-top:20px;}
#hero-section-btn{
    background: rgb(193 54 54 / 91%);
    padding:15px;
    border-radius: 30px;
    color:white;
    font-weight:bolder;
}
/*hero section ended*/

/*services section start*/
.services-img{
    height:100px;
}
#services-section-caption{color:black}
#services-section-wrapper{
    padding:80px 20px 80px 20px;
    max-width:1200px;
    margin:0px auto;
    text-align: center;
}
#services-section-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    margin-top:50px;
}
#service-caption{color:black;font-size:18pt;margin-top:10px}
#services-subcaption{color:black;margin-top:20px;}
.services-section-cards{
    padding:20px 20px 50px 20px;
    text-align:center;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.2);
}
/*services section ended*/

/*stats section start*/
#stats-section-wrapper{
    background-color:darkblue;
}
#stats-section-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    padding:80px 20px 80px 20px;
    margin:0px auto;
    max-width: 1200px;
}
.stats-section-cards{
    text-align:center;
}
.stats-header{
    font-size:15pt;
    margin-top:20px;
}
/*stats section ended*/

/*portfolio start */
.portfolio-img{
    width:100%;
}
#portfolio-section-caption{color:black}
#portfolio-section-wrapper{
    padding:80px 20px 80px 20px;
    max-width:1200px;
    margin:0px auto;
    text-align: center;
}
#portfolio-section-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    margin-top:50px;
}
#portfolio-caption{color:black;font-size:18pt;margin-top:10px}
#portfolio-subcaption{color:black;margin-top:20px;}
.portfolio-section-cards{
    padding:20px 20px 50px 20px;
    text-align:center;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.2);
}
.portfolio-card1{border-bottom:solid 10px yellow}
.portfolio-card2{border-bottom:solid 10px pink;}
.portfolio-card3{border-bottom:solid 10px blue;}

#scroll-wrapper{
    margin-top:20px;
    max-width: 1200px;
    margin:40px auto;
}
#scroll-content{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:20px;
}
.scroll{
    background-color: grey;
    height:10px;
    border-radius:60px;
}
/*portfolio end*/



/*media queries start*/
@media screen and (min-width:769px){
    /*navigation start*/
    #sm-nav-list-wrapper{display:none}
    #nav-button-wrapper{display: none;}
    /*navigation ended*/

    /*hero section start*/
    #hero-section-wrapper,#hero-section-mask{height:80vh}
    #hero-section-caption{font-size:32pt;margin-top:10px}
    #hero-section-subcaption{font-size:18pt;}
    #hero-section-wrapper{
        height:80vh;
        background:url("../images/bg1.jpg");
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }
    #hero-section-mask{
        height:80vh;
        background-color:rgb(14 6 6 / 93%);
        background-size:100% 100%;
        display: flex;
        align-items: center;
    }
    /*hero section ended*/
}
@media screen and (max-width:768px){
    *{text-align:center}
    /*navigation start*/
    li{font-size:15pt}
    .fa-bars{font-size:22pt !important;}
    #nav-list-items-wrapper{display: none;}
    #sm-nav-list-wrapper,#sm-nav-list{
        background-color:rgb(193 54 54 / 91%);
        position:absolute;
        left:0;
        right:0;
        height:100%;
        display: none;
    }
    #sm-nav-list-wrapper{top:140px}
    #sm-nav-list{
        display: flex;
        flex-direction: column;
        row-gap:20px;
        align-items:center;
        justify-content:center;
    }
    .fa-bars{color:white}
    /*navigation ended*/

    /*hero section start*/
    #hero-section-wrapper,#hero-section-mask{height:65vh}
    #hero-section-content{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }
    #hero-section-caption{margin-top:15px}
    #hero-section-subcaption{margin-top:10px}
    /*hero section ended*/

    /*services section start*/
    #services-section-content{
        display: flex;
        flex-direction: column;
    }
    #service-caption{font-size:15pt}
    /*services section ended*/

    /*stats section start*/
    #stats-section-content{
        display: flex;
        flex-direction: column;
        row-gap:50px;
    }
    /*start section ended*/

    /*portfolio section start*/
    #portfolio-section-content{
        display: flex;
        flex-direction: column;
        row-gap:20px;
    }
    #portfolio-caption{font-size:15pt}
    /*portfolio section ended*/
}
@media screen and (max-width:250px){
    /*navigation start*/
    li{font-size:13pt}
    #navigation-content{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        padding:50px 0px 100px 0px;
    }
    .logo{width:100%;height:150px}
    /*navigation ended*/

    /*hero section start*/
    #hero-section-caption{font-size:18pt}
    #hero-section-btn{
        font-size:8pt;
        text-align: center;
    }
    /*hero section ended*/

    /*services section start*/
    #service-caption{font-size:12pt;}
    /*services section ended*/
}
@media screen and (max-width:200px){
    /*hero section start*/
    #hero-section-caption{font-size:13pt}
    #hero-section-btn{
        font-size:6pt;
        text-align: center;
    }
    #hero-section-wrapper{
        text-align:center;
        background-size: contain 100%;
    }
    #hero-section-subcaption{font-size:8pt}
    /*hero section ended*/

    /*services section start*/
    #services-section-caption{font-size:14pt}
    /*services section ended*/
}
/*media queries ended*/